<h1>Listing all articles</h1>
<% if user_signed_in? %>
<%= link_to "New Article", new_article_path, class: "btn btn-default btn-lg", id: "new-article-btn" %>
<% end %>
<% @articles.each do |article| %>
  <div class="well well-lg">
    <div class="article-title">
      <%= link_to article.title, article_path(article) %>
    </div>
    <div class="article-body">
      <%= truncate(article.body, length: 500) %>
    </div>
    <div class="author">
      <% if article.user %>
      <small>Create by: <%= article.user.email %></small>
      <% end %>
    </div>
  </div>
<% end %>
