<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="cold-md-8">

    <% flash.each do |name, msg| %>
      <div class='alert alert-<%="#{name}" %>'>
      <a href='#' class='close' data-dismiss='alert' &#215;></a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
    <%= yield %>
    </div>

    <div class="col-md-4">
      <%= yield :sidebar %>
    </div>
  </div>
</div>